<md-content ng-controller="InstanceController" ng-init="initialize()">

    <!-- loading spinner -->
    <!-- <div ng-if="loading" class="loading-bg">
        <div class="loader">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                stroke-miterlimit="10"/>
          </svg>
        </div>
        <div class="loading-text">Loading...</span></div>
    </div> -->

    <div class="feature-display"
        style="{{featureDisplayCSS}}"
        ng-show="featureDisplayContent.length > 0">
        <div ng-repeat="line in featureDisplayContent">{{ line | rawText}}</div>
    </div>


    <div id="seedDisplay">
        <md-button class="md-raised"
            ng-click="editSeed($event)"
            role="button">
            <md-icon md-font-set="material-icons">settings</md-icon>
            <span>Edit Seed</span>
        </md-button>
    </div>


</md-content>
