<div ng-controller="AppListController" ng-init="initAppList()">

    <md-content ng-show="showAppList" class="slide-top main-md-content" md-whiteframe="3">


        <div class="toolbar-inner">
            <div layout="row" layout-align="space-between start">
                <div flex>

                    <!-- <md-input-container class="no-top-margin"> -->
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="openSortMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin md-font-set="material-icons">sort</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item
                                ng-repeat="x in [['popularity','-popularity'], ['newest', '-created']]">
                              <md-button ng-click="sortBy(x[1])">

                                {{ x[0] }}
                              </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <!-- </md-input-container> -->

                </div>
                <div>

                    <md-input-container class="no-top-margin">
                        <md-icon md-svg-src="/static/site/img/icons/ic_search_black_24px.svg"
                            class="half-transparent"
                            ng-click="showSearch=!showSearch">search</md-icon>
                        <input ng-show="showSearch" ng-model="searchInput"
                            id="app-search" placeholder="search apps..." />
                    </md-input-container>

                </div>
            </div>
        </div>

        <md-divider class="top" ng-show="!loading"></md-divider>

        <div layout="column" ng-show="loading">
            <spacer height="30"></spacer>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div ng-repeat="app in apps" class="app-list" ng-click="selectApp(app)">

            <div class="title">{{ app.title }}</strong>
            <div class="subtitle" ng-if="app.subtitle != ''">{{ app.subtitle }}</div>

            <div class="spacer"></div>

            <div layout-gt-xs="row" layout-xs="column">
                <div flex-gt-xs="50">
                    <!-- <div layout="row" layout-align="center center">
                        <img src="{{ app.owner.avatar }}" class="avatar" />
                        by {{ app.owner.name }}
                    </div> -->
                    <div class="info">
                        <div class="label-left">Author:</div>
                        {{ app.owner.name }}
                    </div>
                    <div class="info">
                        <div class="label-left">Category:</div>
                        {{ app.category }}
                    </div>
                    <div class="info">
                        <div class="label-left">Views:</div>
                        {{ app.popularity }}
                    </div>
                    <div class="info">
                        <div class="label-left">Created:</div>
                        {{ app.created }}
                    </div>

                    <div class="text-muted description">
                        {{ app.description | truncateText:400 }}
                    </div>

                    <spacer hide-gt-xs />

                </div>
                <div flex-gt-xs="50">
                    <md-grid-list md-cols="4" md-row-height="1:1" md-gutter="2px">
                        <md-grid-tile ng-repeat="im in app.images | limit:12">
                            <div class="scale-fade-in">
                                <img src="/media/{{ im | thumbnail:125 }}" style="max-width:100%; height:auto; border:1px solid #ddd;" />
                            </div>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>

            <md-divider></md-divider>

        </div>



    </md-content>

</div>
