<div ng-controller="FrontPageController" ng-init="init()">
	
	<div class="headline-bottom" md-whiteframe="6">
		
		<div hide-xs hide-short>

			<h2 hide-xs>Apps at an Exhibition</h2>
			<!-- <h1 hide-gt-xs>Apps at an Exhibition</h1> -->

			<md-divider hide-xs></md-divider>

		</div>

		<md-content class="headline-content" layout="column">
			
			
			<div flex class="app-titles">
				<!-- <div class="app-title-header"><strong>Featured App</strong></div> -->
				<div class="app-title-text">{{ currentInstance.game.title }}</div>
				<div class="app-subtitle-text">{{ currentInstance.game.subtitle }}</div>

			</div>

			<div class="spacer" hide-short></div>

			<div layout="row" layout-align-xs="space-between end" layout-align="end end">


				<md-button class="md-raised"  
		            ng-href="#/categories"
		            style="margin-left:0px;"
		            role="button">
		            <md-icon md-font-set="material-icons">apps</md-icon>
		            <span>Browse Apps</span>
		        </md-button>

				<md-button class="md-raised"
		            ng-click="nextApp()"
		            style="margin-left:0px;"
		            role="button">
		            
		            <span>next</span>
		            <md-icon md-font-set="material-icons">arrow_forward</md-icon>			     
		        </md-button>
	        </div>

		</md-content>

		
		
	</div>

</div>