<div ng-controller="FrontPageController" ng-init="init()">
	
	<div class="headline-bottom" md-whiteframe="8">
		<!-- test -->
		<div hide-xs hide-short>

			<h2 hide-xs>Apps at an Exhibition</h2>
			<!-- <h1 hide-gt-xs>Apps at an Exhibition</h1> -->

			<md-divider hide-xs></md-divider>

		</div>

		<md-content layout="row" layout-wrap layout-align="space-between start" class="headline-content">
			<div flex>
				<md-button class="md-raised"  
		            ng-href="#/categories"
		            style="margin-left:0px;"
		            role="button">
		            <md-icon md-font-set="material-icons">apps</md-icon>
		            <span>Browse Apps</span>
		        </md-button>
			</div>
			
			<div flex class="app-titles">
				<div class="app-title-header"><strong>Featured App</strong></div>
				<div class="app-title-text">Transformation on a grid</div>
				<div class="app-subtitle-text">Papaver gravitation</div>
			</div>

		</md-content>

		<div class="spacer" hide-short></div>
		
	</div>

</div>