<md-dialog aria-label="Seed Editor" style="width: 80%; height: 80%; margin: auto;" ng-init="initialize()">
  <form>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4 class="md-display-1">Source Code</h4>
        <span flex></span>
        <md-button class="md-raised md-accent" role="button" ng-click="closeDialog()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding style="margin-top: 60px;">

      <!-- <h4>{{ app.title }}</h4> -->
      <!-- <md-content> -->
        <ui-codemirror ui-codemirror-opts="cmOptions" class="inDialog"
            ng-model="app.source"
            name="source" style="width:80%; height: 100%;">
        </ui-codemirror>
      <!-- </md-content> -->

    </md-dialog-content>
  </form>
</md-dialog>
